@tailwind base;
@tailwind components;
@tailwind utilities;

div.select__multi-value {
  background-color: hsl(var(--p));
  border-radius: 0.5rem;
  color: white;
}

div.select__multi-value__label {
  color: white;
}
div.select__multi-value__remove {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

div.select__control--is-focused {
  outline: hsl(var(--a)) solid 2px !important;
  outline-offset: 4px !important;
  box-shadow: none;
}

div.select__menu-list {
  max-height: 10rem;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--nc));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--p));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--pf));
}

.ant-table-thead > tr > th {
  background-color: hsl(var(--p)) !important;
  color: white !important;
  font-size: 1.5rem;
}

.ant-table-thead > tr > th:first-child {
  padding-left: 2rem;
}

.ant-table-tbody > tr > td {
  background-color: hsl(var(--s)) !important;
  color: white !important;
}

.ant-table-tbody > tr > td:first-child {
  padding-left: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.ant-pagination-item {
  background-color: white !important;
}
.ant-pagination-item-link {
  color: white !important;
  font-size: 700;
}
